@font-face {
font-family:"Raleway-Semibold";
src:url(../fonts/raleway/Raleway-Semibold.ttf);
}
@font-face {
font-family:"Raleway-Medium";
src:url(../fonts/raleway/Raleway-Medium.ttf);
}
@font-face {
font-family:"Raleway-Light";
src:url(../fonts/raleway/Raleway-Light.ttf);
}
*{
margin:0;
padding:0;
}
html{
width:100%;
height:100%;
background-color:white;
}
h1{
margin-left:2.5%;
padding-top:.5%;
font-family:"Raleway-SemiBold";
font-size: 1.7em;
}
ul{
list-style:none;
margin-top:3%;
margin-left:1.7%;
line-height:2.3em;
font-family:"Raleway-Light";
font-size:.9em;
}
a{color:black;
}
a:hover{
color:black;
}
h1{line-height:1.5em;}
.overview1{
text-align:left;
font-family:Raleway-Medium;
padding-left:18%;
font-size:1.1em;
color:black;
}
.extension1{
text-align:left;
font-family:Raleway-Light;
font-size:.8em;
color:black;
}
.overview2{
text-align:left;
font-family:Raleway-Medium;
padding-left:11%;
font-size:1.1em;
color:black;
}
.extension2{
text-align:left;
font-family:Raleway-Light;
font-size:.8em;
color:black;
}
.overview3{
text-align:left;
font-family:Raleway-Medium;
padding-left:12%;
font-size:1.1em;
color:black;
}
.extension3{
text-align:left;
font-family:Raleway-Light;
font-size:.8em;
color:black;
}
.wine, .topup{width:75%;}
.miss{width:70%;
padding-bottom:3.1%;}
img{
display:block;
margin:0 auto;
}
